.idea\
__pycache__
Project\__pycahce__
Project\JanghooModule_RunWithMapleGUI\tmpfolder\fullscreen.png
Project\JanghooModule_RunWithMapleGUI\tmpmaplescreenshot\maple_current.jpg
Project\JanghooModule_RunWithMapleGUI\Janghoo_Model\Janghoo_model.h5